//* Color variables
$white: #fff;
$black: #000;
$mainGradient: linear-gradient(
  90deg,
  #b384e1,
  #a878d6,
  #9c6ccb,
  #9160c0,
  #8554b5,
  #7a48aa,
  #6e3c9f
);
$mainGreen: #6e3c9f;
$secondGreen: #b384e1;
$textColor: #1e1e1e;
$otherText: #8a8a8a;

//* Flex template
@mixin setFlex(
  $flex-direction,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

//* Grid template
@mixin setGrid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

//* Clamp template
@mixin setClamp($line-clamp: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
  overflow: hidden;
}
