@use './variables' as *;

.main-blog {
  margin-inline: auto;
  margin-top: 40px;
  width: min(1280px, 100%);

  &__title {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2.5rem;
    color: $textColor;
  }
  &__container {
    width: 100%;
    @include setGrid(3, 40px);

    @media all and (width <= 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (width <= 840px) {
      grid-template-columns: 1fr;
    }

    &--list {
      width: 100%;
      @include setGrid(2, 80px);

      @media all and (width <= 1280px) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__arrow {
    width: 30px;
    height: auto;
    align-self: flex-end;
  }
  &__list {
    margin: auto;
    width: min(600px, 98%);
    @include setFlex(row, flex-start);
    gap: 25px;
    transition: 0.4s scale;

    @media all and (width > 400px) {
      &:hover {
        scale: 1.05;
      }
    }
    span {
      width: 100%;
      @include setFlex(column, center, flex-start);
    }
    @media all and (width <= 400px) {
      flex-wrap: wrap;
      text-align: center;

      span p,
      h2 {
        margin: 10px auto;
        width: auto;
      }
      img {
        margin: auto;
      }
    }
  }
  &__date {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    color: $secondGreen;
    font-weight: bold;

    &::before {
      display: block;
      width: 16px;
      height: 16px;
      content: url(/calendar.png);
    }
  }
  &__galery {
    width: 100%;
    @include setFlex(row, space-between);

    p {
      margin-bottom: 5px;
    }
    &--category {
      padding-inline: 8px;
      background-color: $secondGreen;
      color: $white;
      border-radius: 5px;
    }
  }
  &__tiles {
    margin-inline: auto;
    width: min(400px, 98%);
    @media all and (width >= 400px) {
      max-height: 550px;
    }
    @include setFlex(column, flex-start, flex-start);
    transition: 0.4s scale;

    @media all and (width > 400px) {
      &:hover {
        scale: 1.05;
      }
    }
    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      color: $textColor;
      font-size: 1.6rem;
      @include setClamp(2);
    }
    &--image {
      border-radius: 5px;
      object-fit: cover;

      @media all and (width <= 400px) {
        width: 100%;
        height: auto;
      }
    }
  }
}
