@use './variables' as *;

.footer {
  margin-top: 100px;
  width: 100%;
  height: 200px;
  background-color: $mainGreen;
  color: $white;

  img {
    width: auto;
    height: 200px;
  }

  &--container {
    margin-inline: auto;
    max-width: 1280px;
    height: 100%;
    @include setFlex(row, space-between);
  }
  &__description {
    height: 100%;
  }
  &__title {
    width: 100%;
    font-size: 1.5rem;
  }
}
