@use './variables' as *;

.header {
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .holder {
    width: 100%;
    height: 40px;
  }

  &__container {
    width: 100%;
    height: 140px;
    background-color: $mainGreen;
    box-shadow: 0px 2px 15px $black;
    color: $white;
    @include setFlex(row);
  }
  &__left,
  &__right {
    position: absolute;
    top: 0px;

    @media all and (width <= 730px) {
      height: 260px;
      width: auto;
    }
  }
  &__left {
    left: 0px;
    rotate: 180deg;
    @media all and (width <= 300px) {
      width: 100%;
      height: auto;
    }
  }
  &__right {
    right: 0px;
  }
  &__center {
    width: 100%;
    text-align: center;
    @include setFlex(row);
    gap: 10px;
    z-index: 2;

    h1 {
      margin: 0px;
      font-size: 30px;

      span {
        font-size: 0.535em;
      }
    }
  }
  &__logo {
    width: auto;
    height: auto;
  }
  &__menu {
    display: none;
    z-index: 2;
    color: $white;

    &--element {
      margin-top: 4px;
      width: 25px;
      height: 3px;
      background-color: $white;
    }
    ol {
      display: none;
      margin: 0px;
      padding: 15px 0px;
      position: absolute;
      left: 0;
      width: 100%;
      gap: 8px;
      background-color: $mainGreen;
      list-style: none;
      font-size: 1.2rem;
    }
    .droped {
      @include setFlex(column);
    }
  }
  &__nav {
    height: 40px;
    @include setFlex(row);

    &--figure {
      margin: auto;
      position: absolute;
      border-top: 50px solid $mainGreen;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: min(100%, 1100px);
    }
    ul {
      padding: 0px;
      width: min(100%, 1000px);
      height: 40px;
      box-shadow: 0px 2px 15px $black;
      @include setFlex(row);
      gap: 40px;

      li {
        list-style: none;
        color: $white;
      }
      & a::before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        scale: 0 1;
        background-color: $white;
        transform-origin: center;
        transition: 0.3s scale;
      }
      & a:hover::before {
        scale: 1;
      }
    }
  }

  @media all and (width <= 1100px) {
    &__nav {
      ul {
        gap: 2%;
      }
      &--figure {
        height: 50px;
        background-color: $mainGreen;
        border-right: none;
        border-left: none;
      }
    }
  }
  @media all and (width <= 730px) {
    &__nav {
      ul {
        display: none;
      }
      &--figure {
        box-shadow: 0 5px 15px $black;
      }
    }
    &__menu {
      display: block;
    }
    &__container {
      height: 260px;
    }
    &__center {
      flex-wrap: wrap;

      h1 {
        font-size: 25px;
      }
    }
  }
  @media all and (width <= 350px) {
    &__center h1 {
      font-size: 20px;
    }
  }
}
