@use './variables' as *;

//* Kontakt Page
.main-kontakt {
  margin: auto;
  max-width: 1180px;
  text-align: center;

  &__title {
    margin-top: 80px;

    h1 {
      font-size: 42px;
    }
    h3 {
      font-size: 26px;
    }

    @media all and (width <= 400px) {
      h1 {
        font-size: 38px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
  &__map {
    width: min(800px, 98%);
    border: none;
  }
  &__image {
    width: min(260px, 98%);
    height: auto;
  }
  &__border {
    border: solid 2px #49d380;
  }
  &__description {
    margin-top: 50px;
    font-size: 20px;

    h3 {
      line-height: 36px;
    }
    h1 {
      line-height: 48px;
      font-size: 32px;
    }
    span {
      color: #930d0d;
    }

    @media all and (width <= 600px) {
      font-size: 18px;

      h1 {
        font-size: 24px;
      }
    }
    @media all and (width <= 410px) {
      font-size: 16px;

      h1 {
        font-size: 16px;
      }
    }
    @media all and (width <= 275px) {
      span {
        font-size: 12px;
      }
    }
  }
}
