@use './variables' as *;

//* Main Page
.main-page {
  margin: auto;
  max-width: 1180px;
  @include setFlex(column);
  gap: 50px;

  &__title {
    margin-top: 100px;
    padding-bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: solid 3px $mainGreen;

    span {
      color: $mainGreen;
    }

    @media all and (width <= 400px) {
      font-size: 1.5rem;
    }
    @media all and (width <= 245px) {
      font-size: 1.2rem;
    }
  }
  &__content {
    width: 100%;
    @include setFlex(row, center, center);
    gap: 2%;
    text-align: center;

    p {
      font-size: 1.15rem;
    }

    @media all and (width <= 850px) {
      flex-wrap: wrap-reverse;
    }
  }
  &__image {
    width: auto;
    height: auto;
    max-height: 290px;
    object-fit: cover;
    border-radius: 66px;

    @media all and (width <= 540px) {
      width: 95%;
    }
  }
}
