@use './variables' as *;

body {
  overflow: visible;
}

//* Main
.main-page {
  margin: auto;
  max-width: 1280px;

  & h2 {
    margin-bottom: 0px;
    text-align: center;
  }
  & img {
    object-fit: cover;
    border-radius: 66px;
  }
  &__title {
    margin-top: 80px;
    height: auto;
    @include setFlex(column);
    font-size: 20px;
    text-align: center;
    border-bottom: solid 3px #49d380;
  }
  & span {
    color: $mainGreen;
  }
  &__description {
    padding-top: 50px;
    height: auto;
    width: 100%;
    margin: auto;
    @include setFlex(row, center, center);
    gap: 2%;
  }
}
