@use '../variables' as *;

//* Nasze Pasje Page
.pasje {
  margin: auto;
  max-width: 1180px;
  @include setFlex(column);

  &__border {
    border: solid 2px $mainColor;
    width: 80%;
    margin: 35px 0px;
  }
  &__title {
    margin-top: 100px;
    padding-bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
  }
  &__icon {
    padding-left: 1%;
    width: auto;
  }
  &__description {
    @include setFlex(row, flex-end);
    width: min(1000px, 98%);
  }
  &__subtitle {
    font-size: 2.5rem;
  }
  &__content {
    padding-inline: 10px;
    width: 100%;
    @include setFlex(row);
    gap: 60px;
  }
  &__image {
    object-fit: cover;
    border-radius: 20px;
  }

  @media all and (width <= 925px) {
    &__content {
      padding-bottom: 10px;
      overflow-x: scroll;
      justify-content: flex-start;
      gap: 40px;
    }
    &__border {
      width: 95%;
    }
    &__subtitle {
      font-size: 2rem;
    }
    &__description,
    &__title {
      font-size: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media all and (width <= 265px) {
    &__title {
      font-size: 1.5rem;
    }
    &__subtitle {
      font-size: 1.5rem;
    }
  }
}
