@use './variables' as *;

//* General Settings
body {
  margin: 0px;
}
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//* Cursor Pointer
.pointer {
  cursor: pointer;
}

//* Backgraund in Layout
.backgraund {
  background-color: $white;
}

//* Scrollbar
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #202020;
}

//* Special link style
.link {
  font-weight: bold;
  color: #1421d4;

  &::after {
    content: '  ↵';
  }
}

//* Accessibility Class
.large-font {
  h1,
  h2,
  h3 {
    font-size: 35px;
  }
  p,
  li {
    font-size: 20px;
  }
}
.link-on a,
.link-on a li {
  text-decoration: underline;
  color: #a639ff;
}
.hight-contrast {
  h1,
  h2,
  h3,
  h4,
  p,
  li,
  span {
    color: #ffff00;
  }
  .backgraund {
    background-color: #202020;
  }
  .tiles__header--icon,
  .list__header--icon {
    filter: invert(100);
  }
  .tiles__header--span h1,
  .list__header--span h1 {
    color: #ffff00;
  }
}

//* Error
.error {
  width: 100%;
  height: calc(100vh - 490px);
  @include setFlex(column);
  font-size: 2rem;
  text-align: center;

  span {
    color: $secondColor;
  }
}

//* Ql styles
.ql-align {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}

.ql-size {
  &-small {
    font-size: 0.75em;
  }
  &-large {
    font-size: 1.5em;
  }
  &-huge {
    font-size: 2.5em;
  }
}

.ql-indent {
  &-1 {
    padding-left: 3rem;
  }
  &-2 {
    padding-left: 6rem;
  }
  &-3 {
    padding-left: 9rem;
  }
  &-4 {
    padding-left: 12rem;
  }
  &-5 {
    padding-left: 15rem;
  }
  &-6 {
    padding-left: 18rem;
  }
  &-7 {
    padding-left: 21rem;
  }
  &-8 {
    padding-left: 24rem;
  }
}
