@use '@/app/variables' as *;

.footer {
  margin-top: 100px;
  margin-bottom: 160px;
  width: 100%;
  box-shadow: 0px 0px 10px $black;
  background-color: $mainColor;
  color: $white;

  &__image {
    width: auto;
    height: 200px;
  }

  &__certificates-section {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 160px;
    z-index: -5;
    @include setFlex(column);
    background-color: #222;
    gap: 5px;

    &--title {
      text-align: center;
      margin: 0px;
    }
  }
  &--container {
    margin-inline: auto;
    width: min(1280px, 98%);
    height: 100%;
    @include setFlex(row, space-between);
  }
  &__description {
    width: min(840px, 100%);
    height: 100%;
  }
  &__title {
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
  }
  &__text {
    @include setFlex(row);
    flex-wrap: wrap;
    gap: 5%;
    color: $otherText;

    p {
      font-size: 1rem;
      margin: 10px;
    }
  }
  &__autors {
    text-align: center;
    color: $otherText;
  }
  &__certificates {
    @include setFlex(row);
    flex-wrap: wrap;
    gap: 40px;
  }
  &__certificat {
    @include setFlex(row);
    gap: 5px;

    img {
      width: 32px;
      height: auto;
    }
  }
  &__w3c {
    @include setFlex(row);
    flex-wrap: wrap;
    gap: 25px;

    img {
      width: 140px;
      height: auto;
      filter: grayscale(1);
      transition: 0.4s scale;

      &:hover {
        scale: 1.05;
      }
    }
  }

  @media all and (width <= 730px) {
    &__image {
      display: none;
    }
  }
  @media all and (width <= 630px) {
    margin-bottom: 250px;

    &__certificates-section {
      height: 250px;
    }
  }
  @media all and (width <= 470px) {
    margin-bottom: 360px;

    &__certificates-section {
      height: 360px;
      gap: 25px;
    }
    &__certificates {
      gap: 20px;
    }
  }
  @media all and (width <= 305px) {
    margin-bottom: 420px;

    &__certificates-section {
      height: 420px;
    }
  }

  @media all and (width <= 272px) {
    margin-bottom: 550px;

    &__certificates-section {
      height: 550px;
    }
  }
  @media all and (width <= 310px) {
    &__title {
      font-size: 1.2rem;
    }
    &__text p {
      font-size: 0.8rem;
    }
    &__autors {
      font-size: 0.8rem;
    }
  }
}
